<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content>
        <meta name="author" content="kevinbird61">
        <link rel="icon" href="icon.png">
        <title> <%= title %> </title>
        <!-- bootstrap css & js -->
        <% include ../elements/header_bootstraptype %>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                        <th>#</th>
                        <th><%= col1 %></th>
                        <th><%= col2 %></th>
                        <th><%= col3 %></th>
                        <th><%= col5 %></th>
                        <th><%= col6 %></th>
                        <th><%= col4 %></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var index in content){ %>
                            <tr>
                            <th scope="row"><%= index %></th>
                            <td><%= content[index].tag %></td>
                            <td><%= content[index].ip %></td>
                            <td><%= content[index].timestamp %></td>
                            <td id="<%= content[index].tag %>_p1"><%= content[index].p1 %></td>
                            <td id="<%= content[index].tag %>_p2"><%= content[index].p2 %></td>
                            <td><td><button id="<%= content[index].tag %>" type="button" class="btn btn-success" onclick="go_streaming(this.id)">Streaming!</button><td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        // For manually redirect
        function go_streaming(pathname){
            var p1 = document.getElementById(pathname+'_p1').innerHTML;
            var p2 = document.getElementById(pathname+'_p2').innerHTML;
            // go to streaming page
            window.location = '/streaming?p1='+p1+'&p2='+p2;
        }
    </script>
</html>
